{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
<div class="container">
    <h1>
        <h2>{{article.article_title}}<span class="badge badge-secondary">New</span></h2>
    </h1>
    <div class="container-fluid">
        <img width="500" height="333" style="margin 10px 400px" src="{{article.article_pic.url}}">
    </div>
    <p align="justify">
        {{article.article_text}}
    </p>
    <em>{{article.pub_date}}</em>
    {% if comments_list %}
    {%for i in comments_list%}
    <p>
        <strong>{{i.author_name.name}}</strong>
    <p>{{i.comment_text}}</p>
    </p>
    {%endfor%}
    {%endif%}
    <form action="{% url 'articles:leave_comment' article.id %}" method="post">
        {% csrf_token %}
        <br>
        <textarea name="comment_text" placeholder="Leave a comment!" cols="50" rows="5">
    </textarea>
        <br>
        <button type="submit" class="btn btn-outline-secondary">Post</button>
    </form>
</div>
{% endblock %}
